/* body{
    display:flex;
    background: rgb(102, 99, 166);
    forced-color-adjust:initial;
    align-items: center;
}  */
table, th, td {
    border: 2px solid black;
    
  }
  table.center{
    display:flex;
    align-self:center;
  }
  #sicialmedia{
    display: flex;
    align-items: flex-end;

  }

  h1{
    display: inline;
    position: center;
  }